/* LoveCalculator.css */

.container {
  padding: 1rem;
  background-color:white;
  min-height: 100vh;
}

.heading {
  font-size:3rem;
  font-weight: bolder;
  text-align: center;
  color:red;
}

.input-container {
  margin-bottom:2rem;
  text-align: center;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  border: 1px solid #000;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width:25%;
  margin-left:30px;
}

.button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left:650px;
}

.result {
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
